# Server Configuration
HTTP_PORT=:8181
MODE=debug
RATE_LIMIT=60

# Database Configuration
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=study
DB_MAX_OPEN_CONNS=100
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME=3600
DB_CONN_MAX_IDLE_TIME=600

# Redis Configuration
REDIS_ENABLED=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0

# Timeout Configuration
CONTEXT_TIMEOUT=3

# Token Configuration
ACCESS_TOKEN_EXPIRY_HOUR=2
REFRESH_TOKEN_EXPIRY_HOUR=168
ACCESS_TOKEN_SECRET=z8qT7XpLm2VnR4sK9wYbG6hJ3cU1dE5
REFRESH_TOKEN_SECRET=k4rF9vNcX0jHwZ8bQ2lP7yM6oD1iS3t
TOKEN_PREFIX=Bearer

# Session Configuration
SESSION_SECRET=djkfdjk23215da113~232

# Password Configuration
SALT_PREFIX=xY7kL9pM
SALT_SUFFIX=qR4sT8vN
PASSWORD_COST=12
