definitions:
  gin-api-template_domain_dto.LoginRequest:
    description: 登录时请求的参数
    properties:
      captcha:
        description: |-
          @Description 验证码
          @Required
        type: string
      email:
        description: |-
          @Description 用户邮箱
          @Required
        type: string
      password:
        description: |-
          @Description 用户密码
          @Required
        minLength: 6
        type: string
    required:
    - captcha
    - email
    - password
    type: object
  gin-api-template_domain_dto.LoginResponse:
    description: 登录成功后的响应数据
    properties:
      accessToken:
        description: '@Description 访问令牌'
        type: string
      refreshToken:
        description: '@Description 刷新令牌'
        type: string
    type: object
  gin-api-template_domain_dto.RefreshTokenRequest:
    description: 刷新token时请求的参数
    properties:
      refreshToken:
        description: |-
          @Description 刷新token
          @Required
        type: string
    required:
    - refreshToken
    type: object
  gin-api-template_domain_dto.RefreshTokenResponse:
    description: 刷新token成功之后的响应数据
    properties:
      accessToken:
        description: '@Description 访问token'
        type: string
      refreshToken:
        description: '@Description 刷新token'
        type: string
    type: object
  gin-api-template_domain_dto.SignupRequest:
    description: 注册时请求的参数
    properties:
      email:
        description: |-
          @Description 邮箱
          @Required
        type: string
      name:
        description: |-
          @Description 用户名
          @Required
        minLength: 3
        type: string
      password:
        description: |-
          @Description 密码
          @Required
        minLength: 6
        type: string
    required:
    - email
    - name
    - password
    type: object
  gin-api-template_domain_dto.SignupResponse:
    description: 注册成功后的响应数据
    properties:
      accessToken:
        description: '@Description 访问token'
        type: string
      refreshToken:
        description: '@Description 刷新token'
        type: string
    type: object
  gin-api-template_domain_result.ResponseResult-gin-api-template_domain_dto_LoginResponse:
    properties:
      code:
        description: '@Description 响应状态码'
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/gin-api-template_domain_dto.LoginResponse'
        description: '@Description 响应数据'
      message:
        description: '@Description 响应信息'
        type: string
    type: object
  gin-api-template_domain_result.ResponseResult-gin-api-template_domain_dto_RefreshTokenResponse:
    properties:
      code:
        description: '@Description 响应状态码'
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/gin-api-template_domain_dto.RefreshTokenResponse'
        description: '@Description 响应数据'
      message:
        description: '@Description 响应信息'
        type: string
    type: object
  gin-api-template_domain_result.ResponseResult-gin-api-template_domain_dto_SignupResponse:
    properties:
      code:
        description: '@Description 响应状态码'
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/gin-api-template_domain_dto.SignupResponse'
        description: '@Description 响应数据'
      message:
        description: '@Description 响应信息'
        type: string
    type: object
  gin-api-template_domain_result.ResponseResult-gin-api-template_pkg_lib_captcha_CaptchaReponse:
    properties:
      code:
        description: '@Description 响应状态码'
        type: integer
      data:
        allOf:
        - $ref: '#/definitions/gin-api-template_pkg_lib_captcha.CaptchaReponse'
        description: '@Description 响应数据'
      message:
        description: '@Description 响应信息'
        type: string
    type: object
  gin-api-template_domain_result.ResponseResult-string:
    properties:
      code:
        description: '@Description 响应状态码'
        type: integer
      data:
        description: '@Description 响应数据'
        type: string
      message:
        description: '@Description 响应信息'
        type: string
    type: object
  gin-api-template_pkg_lib_captcha.CaptchaReponse:
    properties:
      expire_time:
        type: integer
      image_url:
        type: string
      question:
        type: string
    type: object
info:
  contact: {}
paths:
  /hello:
    get:
      consumes:
      - application/json
      description: 返回一个简单的消息
      produces:
      - application/json
      responses:
        "200":
          description: 成功响应
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
        "500":
          description: 服务器错误
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
      summary: 测试
      tags:
      - hello
  /login:
    post:
      consumes:
      - application/json
      description: 处理用户登录请求，验证凭据并返回访问token和刷新token
      parameters:
      - description: 登录请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/gin-api-template_domain_dto.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 登录成功响应
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-gin-api-template_domain_dto_LoginResponse'
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
        "401":
          description: 凭据无效
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
        "404":
          description: 用户未找到
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
        "500":
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
      summary: 用户登录
      tags:
      - user
  /refresh-token:
    post:
      consumes:
      - application/json
      description: 使用刷新令牌获取新的访问令牌和刷新令牌
      parameters:
      - description: 刷新令牌请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/gin-api-template_domain_dto.RefreshTokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 刷新令牌成功响应
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-gin-api-template_domain_dto_RefreshTokenResponse'
        "400":
          description: 请求参数错误
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
        "401":
          description: 令牌无效或已过期
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
        "500":
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
      summary: 刷新令牌
      tags:
      - user
  /signup:
    post:
      consumes:
      - application/json
      description: 生成验证码防止反复登录
      parameters:
      - description: 注册请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/gin-api-template_domain_dto.SignupRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 验证码成功响应
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-gin-api-template_pkg_lib_captcha_CaptchaReponse'
        "500":
          description: 服务器内部错误
          schema:
            $ref: '#/definitions/gin-api-template_domain_result.ResponseResult-string'
      summary: 验证码
      tags:
      - user
swagger: "2.0"
